body{
    background-color: rgb(12, 0, 24);
}

p {
    font-size: 100px;
    display: flex ;
    justify-content: center;
    color: white;
}
h1{
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    color: white;
}

button{
    display: inline;
    padding: 20px;
    width: 150px;
    background: rgb(255, 0, 234);
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 25px;
    margin-top: 15px;
    margin-left: 15px;
}
.button1{
    display: flex;
    justify-content: center;
}
button:hover{
    background-color: blueviolet;
    width: 155px;
    transform: translateY(-5%);
    transition: 300ms;
    
}
@media (max-width: 768px) {
  /* Estilos para telas com largura máxima de 768px (tablets e smartphones) */
  h1 {
    font-size: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}